extends index.pug 



block content
    
    div.content
        h4.title='Add Category'

        form(method='POST' action=`/products/addproducts/${id}`).inpData
            div.inpCont
                label(for='category').inpName='Product Name'
                input.input(type='text' name='name')
            div.inpCont
                label(for='category').inpName='Manufacturer Name'
                input.input(type='text' name='manufacturer')
            div.inpCont
                label(for='category').inpName='Stock'
                input.input(type='number' name='stock')
            div.inpCont
                label(for='category').inpName='Price'
                input.input(type='number' name='price')
            input(type='submit' value='Submit').btn

        

        

