extends index.pug 

block content
    //navbar
    div.content
        h4.title='Categories'

        if components
            ul.home-list
                for val in components
                    li.list-item
                        a(href=`/category/${val.id}`).list-item-url.url=val.name
                        a(href=`/category/delete/${val.id}`).to-right.url.delete-btn="Delete"
        else
            h3='No Categories'
        
        div.btncont
            a(href='/category/addcategory').url.btn='add Category'