extends index.pug 

block content
    //navbar
    div.content
        h4.title='Components'

        if components
            ul.home-list
                for val in components
                    li.list-item
                        a(href=`/category/${val.id}`).list-item-url.url=val.name
        else
            h3='No Categories'

        a(href='/category/addcategory')='add Category'