doctype html 

html
    head 
        link(rel='stylesheet' href='/css/index.css')

    body
        div.header
            h4.btn='Home'
        
        block content 

        div.footer
            p='Footer content'