doctype html 

html
    head 
        link(rel='stylesheet' href='/css/index.css')

    body
        div.navbar
            h2.navlogo='Computer Parts'
            h5.navbtn='Home'
            h5.navbtn='About'
        
        div.container
            block content 

        div.footer
            p='Footer content'