extends index.pug 

block content
    //navbar
    div.content
        h4.title='Login'

        form(method='POST').inpData
            div.inpCont
                label.inpName="Password"
                input(name="password" required)

            button(type="Submit").btn="Login"