extends index.pug 

block content
    //navbar
    div.content
        h4.title='Login'

        form(method='POST')
            h4="Password"
            input(name="password" required)
            nav
            button(type="Submit").btn="Login"