/* colorpallete */
/* https://coolors.co/f7f7ff-468189-051923-846a6a-e1bc29 */
/* https://coolors.co/f7f7ff-468189-051923-846a6a-eec643 */

*{
    margin: 0;
	padding: 0;
	border: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

:root{
    --primary : #051923;
    --text : #051923;
    --background : #f7f7ff;
    --backSec : #e9e9f3;
    --highlight : #EEC643;
}

html{
    height: 100%;
}

body{
    height: 100%;
    background-color: var(--background);
    color : var(--text)
}

input{
    border: none;
    outline: none;
}


.url, .url:hover, .url:focus, .url:active {
    text-decoration: none;
    color : var(--text);
    /* display: flex; */
}

.btn{
    padding: 10px;
    background-color:var(--primary);
    border-radius: 10px;
    margin: 10px;
    color: white;
    font-size: 1rem;
    cursor: pointer;
}

.btn:hover{
    color: white;
}

.btncont{
    padding-top: 25px;
}

/* navbar */
.navbar{
    width: 100%;
    height: 64px;
    box-shadow: 0 0 10px #aaa;
    z-index: 2;
    background-color: #fff;
    box-shadow: 0 0 10px #999;
    

    display: flex;
    align-items: center;
    font-size: 1.2rem;
}

.navbtn{
    height: 100%;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 10px;
    cursor: pointer;
}

.navbtn:hover{
    background-color: #eee;
}

.navlogo{
    margin-right: 25px;
    margin-left: 25px;
}

/* body */
.title{
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 16px;
}

.container{
    width: 100%;
    display: flex;
    justify-content: center;

    min-height: 100%;
}

.content{
    width: 70%;
    margin-top: 25px;
    margin-bottom: 25px;
    border-radius: 10px;
    
    padding: 25px;
}

.footer{
    background-color: #111;
    color: white;
}

/* home */
.home-list{
    text-decoration: none;
    list-style-type: none;
    margin-bottom: 10px;
}

.list-item{
    width: 100%;
    min-height: 50px;
    margin: 10px 0;
    cursor: pointer;
    display: flex;
    border-radius: 8px;
    overflow: hidden;
    background-color: white;
    box-shadow: 2px 2px 8px #ccc;
    transition: 0.1s all;
}


.list-item:hover{
    background-color: var(--backSec);
    transform: translate(2px, 2px);
    box-shadow: 0px 0px 8px #ccc;
}


.list-item-url{
    width: 100%;
    height: 100%;
    padding: 15px;
    display: flex;
    align-items: center;
    font-size: 1.2rem;

}

.to-right{
    margin-left: auto;
}

.list-prod{
    display: flex;
}

.list-cont{
    width: 100%;
    padding: 10px;
}

.name{
    font-size: 1.8rem;
    font-weight: 600;
    overflow: hidden;
}

.manufacturer{
    opacity: 0.8;
}

.left-border{
    border-left: 1px solid rgba(0, 0,0,0.2);
    margin: 2px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.left-border > p {
    padding: 2px;
}

.delete-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    transition: 0.2s all;
}

.delete-btn:hover{
    background-color: var(--highlight);
}


/* inputs */
.inpData{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.inpName{
    display: inline-block;
    padding: 10px;
    background-color: var(--primary);
    color: white;
    width: fit-content;
    white-space: nowrap;
    margin-right: 10px;
}

.inpCont{
    display: flex;
    border: solid 2px var(--primary);
    border-radius: 8px;
    overflow: hidden;
    
    margin: 10px 0px;
}

.inpCont > input {
    height: 100%;
    background-color: rgba(0, 0,0,0);
    width: 100%;
    font-size: 1rem;
}

.full-width{
    width: 100%;
}



@media only screen and (max-width: 768px) {
    .content{
        width: 100%;
   
    }
    .navbar{
        font-size: 1rem;
    }
    .inpCont{
        align-items: center;
        margin: 10px 0px;
        width: 100%;
    }
    .inpName{
        width: 40%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .inpCont>input{
        width: 60%;
        padding-left: 10px;
    }

    .name{
        font-size: 1rem;
    }
  }